.container {
  position: relative;
  padding-top: 11vh !important;
  padding-bottom: 3vh !important;
}

.resume {
  top: 0;
  right: 0;
}

.appBar {
  width: 613px !important;
  margin: 0;
}

.downloadLink {
  color: white;
}
